{{ 'all-products.css' | asset_url | stylesheet_tag }}

{% assign remaining_products = '' %}
{% for product in collections.all.products offset: section.settings.products_per_row %}
  {% assign remaining_products = remaining_products | append: product.handle %}
  {% unless forloop.last %}
    {% assign remaining_products = remaining_products | append: ',' %}
  {% endunless %}
{% endfor %}

<div class="section-container">
  <h2 class="section-title">Our Products</h2>
  <all-products
    data-remaining-products="{{ remaining_products }}"
    data-products-per-row="{{ section.settings.products_per_row }}"
  >
    <div class="grid" style="--items-per-row: {{ section.settings.products_per_row }};">
      {% for product in collections.all.products limit: section.settings.products_per_row %}
        {% render 'single-product', product: product %}
      {% endfor %}
    </div>
    <button class="show-more-button">{{ section.settings.show_more_text }}</button>
  </all-products>
</div>

<script src="{{ 'all-products.js' | asset_url }}" async></script>

{% schema %}
{
  "name": "All Products",
  "settings": [
    {
      "type": "number",
      "id": "products_per_row",
      "label": "Products per row",
      "default": 4
    },
    {
      "type": "text",
      "id": "show_more_text",
      "label": "Show More Button Text",
      "default": "Show More"
    }
  ],
  "presets": [
    {
      "name": "All Products"
    }
  ]
}
{% endschema %}
