<link rel="stylesheet" href="{{ 'image-banner.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="banner-wrapper">
  <div>
    {% if section.settings.hero_image != blank %}
      {{ section.settings.hero_image | image_url: width: 1000, height: 500 | image_tag: class: 'banner_image' }}
    {% else %}
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'banner_image' }}
    {% endif %}
  </div>
  <div class="banner-content">
    <h4>{{ section.settings.banner_subheading }}</h4>
    <h1>{{ section.settings.banner_heading }}</h1>
    <p>{{ section.settings.banner_description }}</p>
    <a href="{{ section.settings.url }}" class="btn">{{ section.settings.url_text }}</a>
  </div>
</div>
{% schema %}
{
  "name": "Image Banner",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "banner_heading",
      "label": "Banner Heading",
      "default": "Discover Our New Collection"
    },
    {
      "type": "text",
      "id": "banner_subheading",
      "label": "Banner Subheading",
      "default": "New Arrivals"
    },
    {
      "type": "text",
      "id": "banner_description",
      "label": "Banner Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis."
    },
    {
      "id": "url",
      "type": "url",
      "label": "Link"
    },
    {
      "id": "url_text",
      "type": "text",
      "label": "URL Text",
      "default": "Buy Now"
    }
  ],
  "presets": [
    {
      "name": "Image Banner"
    }
  ]
}
{% endschema %}
